*{
    margin: 0 auto 0 auto;
}
#wrapper{
    background-color: rgb(214,209,177);
    width: 970px;
}
.headerimg{
    display: inline-block;
    border-radius: 1px;
    border-color: white;
    height: 75px;
}
h1{
    display: inline-block;
}
img{
    height: 170px;
    margin:3px;
    border-style: solid;
    border-color: black;
}
#png{
    background-color: white;
}
#domocat{
    height: 170px;
    width: 170px;
}
.colorback{
    background-color: rgb(252,100,113);
}
#header{
  margin-left: 225px; 
  padding: 10px;
}
.blueboarder{
   padding:15px;
    background-color: rgb(119,182,234);
    height: 140px;
}
#images{
    margin-left: 20px;
    padding-bottom: 20px;
}

